* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: ‘Segoe UI’, Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’,
    ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, sans-serif;
  background-color: rgb(24, 78, 177);
}

/* Page Layout */
.columns {
  display: flex;
  border-radius: 20px;
  flex-direction: column;
  background-color: #F6F7F8;
  border: 10px solid rgb(24, 78, 177);
  width: 45%;
  height: 300px;
  padding: 15px;
  justify-content: center;
}

.wrapper {
  display: flex;
}
.container {
  max-width: 100%;
  height: 300px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.title{
  width: 100%;
  border-radius: 30px;
  display: inline-flex;
  background-color: rgba(226, 105, 6, 0.966);
  padding: 20px;
  margin: 0;
  border: 20px solid darkslategray;
}

.column-one{
  justify-content: center;

  max-width: 300px;
  width: 230px;
}
.column-two{
  flex: wrap;
  min-width: 250px;
  height: 100px;
}
.legacy-form-row {
  border: none;
  margin-bottom: 40px;
}
.legacy-form-row legend {
  margin-bottom: 15px;
  padding-top: 10px;
}
  .form-row {
    flex-direction: row;
    padding-top:15px;
  }
.form-row button{
    font-size: 16px;
  font-weight: bold;

  color: #FFFFFF;
  background-color: green;
  border: none;
  border-radius: 5px;
  padding: 15px 20px;
  cursor: pointer;
}
.columns label {
    text-align: left;
    width: 150px;
    padding-bottom: 10px;
    padding-top: 10px;

    }
 .columns input[type='text'] {
    width: 170px;
    height: initial;
    border-radius: 3px;

  }
  .legacy-form-row .radio-label {
  font-size: 14px;
}
